/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */


@import "bootstrap";
@import "puffly";
 

html, body {
  min-height: 100%;
  /* border: 3px solid saddlebrown */
}

#image-background {
background: url(bannerphoto1.jpg) no-repeat center center fixed; 
height: 1000px;
background-position:50% 50%;  /* Sets reference point to scale from */
background-size:cover;        

}

h1 {
    font-weight: bold;
}

/* .rounded-circle {
    width: 110px;
    height: 110px;
} */

#nav-font {
  color: #505e6c;
}

.navbar-brand {
  position: relative;
  width: 60px;
  left: 15px;
}

.lato-font {
  font-family: 'Lato', sans-serif;
}

/* .register-photo .image-holder {
    display: table-cell;
    width: auto;
    background-size: cover;
} */


.register-photo form {
    display: table-cell;
    width: 400px;
    background-color: #ffffff;
    color: #505e6c;  
}

.col-md-4 {
    padding-top: 45px;
    width: 400px;
}


.card-img-top {
    display: block;
    width: 100%;
    height: 350px;
}

.carousel-item {
    max-height: 600px;
    width: 100%;
}

.carousel-caption {
    height: 100%;
    background-size: cover;

}

/* .carousel-caption h1 {
    margin: 0;
    color: white;
} */

.view {
    max-width: 100%; 
}

.banner-image {
  opacity: 0.7;
}

.btn  {
 font-weight: bold;
 width: 200px;
 color: #FFFFFF;
 font-size: 12px;

}

.dark-button {
  background: linear-gradient(136.85deg, #1F2328 0%, #1A1C1F 100%);
  border: 1px solid black;
  border-radius: 8px;
  background: linear-gradient(165.39deg, #26272B 12.58%, #34393F 93.18%);
 box-shadow: inset 3px 3px 10px #0D0E0F, inset -3px -3px 10px #40464E;
}

.nowrap {
  white-space: nowrap;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Heading the same height as the navigation */
.header h3 {
    padding-bottom: 19px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
  }
  
/* Custom page footer */
  .footer {
    padding-top: 19px;
    color: #505e6c;
    border-top: 1px solid #e5e5e5;
  }
 


  .container-narrow > hr {
    margin: 30px 0;
  } 

  /* Main marketing message and sign up button */
  .jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
  }
  .jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
  }
  
  /* Supporting marketing content */
  .marketing {
    margin: 40px 0;
  }
  .marketing p + h4 {
    margin-top: 28px;
  }

  .bold-font {
    font-weight: bold;
    font-family: 'Lato', sans-serif;

  }
  
  /* Responsive: Portrait tablets and up */
  @media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
      padding-right: 0;
      padding-left: 0;
    }
    /* Space out the masthead */
    .header {
      margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
      border-bottom: 0;
    }
  }

.form-group {
  font-family: 'Lato', sans-serif;

}

.form-control {
  width: 400px;
}

.center-container {

height: 100%;
align-content: center;

}


.gothic-font {
  font-family: 'Pathway Gothic One', sans-serif;
}
.open-sans
{
  font-family: 'Open Sans', sans-serif;
}

.bottom-of-container {
  position:absolute;
  bottom:0;

}


.letter-spacing {
  padding-top: 5px;
  letter-spacing: 0.125em;
}

.josesin-font {
  font-family: 'Josefin Sans', sans-serif;

}


.nanum-font {
font-family: 'Nanum Gothic', sans-serif;
}

.avatar {
  margin: 5px;
}
.msg-container {
/* Message */
max-width: 400px;
background: linear-gradient(147.42deg, rgba(64, 72, 93, 0.4) 6.32%, rgba(96, 106, 130, 0.4) 92.25%), linear-gradient(128deg, #E6E7ED -79.65%, #F7F8FA 151.25%);
background-blend-mode: soft-light, normal;
box-shadow: 10px 10px 40px #BDC1D1, -10px -10px 42px #FAFCFC, inset 1px 1px 9px #E6E7EB;
border-radius: 40px;


}


.neuro-container {
  background: linear-gradient(129.9deg, rgb(39,43, 0.1) 12.58%, #34393F 93.19%);
  background-color: transparent;
  color: white;
  min-height: 500px;
  min-width: 400px;
}


.success {
  color: #3DC763;
  font-size: 20px;
}

.error {
  color: #ED3D3D;
}

.divider {
  padding-top: 5px;
}




.nav>li>a:hover, .nav>li>a:focus, .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  background:#fff;
}

.dropdown-menu>li>a {
  color:#428bca;
}
.dropdown ul.dropdown-menu {
  border-radius:4px;
  box-shadow:none;
  margin-top:20px;
  width:300px;
}
.dropdown ul.dropdown-menu:before {
  content: "";
  border-bottom: 10px solid #fff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: -10px;
  right: 16px;
  z-index: 10;
}
.dropdown ul.dropdown-menu:after {
  content: "";
  border-bottom: 12px solid #ccc;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  position: absolute;
  top: -12px;
  right: 14px;
  z-index: 9;}


